<h1>Register</h1>
<div>
  <form>
    <label id="name"></label>
    <input for="name" placeholder="Name">
    <label id="email"></label>
    <input for="email" placeholder="Email">
    <label id="password"></label>
    <input for="password" placeholder="Password">
    <label id="confirm_password"></label>
    <input for="confirm_password" placeholder="Confirm password">
    <button></button>
  </form>
</div>
<span>Already have an account? <a href="">Login</a> </span>