<h1>Register</h1>
<div style="display: flex;">
  <form action="" method="">
    <label id="name"><input for="name" placeholder="Name" style="display: block;"></label>
    
    <label id="email"><input for="email" placeholder="Email" style="display: block;"></label>
    
    <label id="password"><input for="password" placeholder="Password" style="display: block;"></label>
    
    <label id="confirm_password"><input for="confirm_password" placeholder="Confirm password" style="display: block;"></label>
    
    <button type="submit">register</button>
  </form>
</div>
<span>Already have an account? <a href="/todos/login">Login</a> </span>